<div id="menu">
    <input id="search" class="search-box" type="text"/>

    <div class="menu-buttons">
        <div id="search-button" class="button" type="button"/>
        <div id="up-button" class="button" type="button"/>
        <div id="zoom1" class="button" type="button"/>
        <div id="zoom2" class="button" type="button"/>
        <div id="zoom3" class="button" type="button"/>
    </div>
</div>
<div class="page">
    <div id="header">
        <hr>
    </div>
    <div id="picture-list" class="picture-container"></div>
</div>
<div class="footer">
    <h1>Google Image Seach Tool</h1>

    <h2>by Henri Kytökangas</h2>
</div>
<img src="img/image-not-found.jpg" id="popup" onclick="$(this).fadeOut()"/>
